<html>
    <head>
        <meta charset="UTF-8">
        <title>Drauzio</title>
    </head>
    <body>
        <h1>Welcome to <%=nome %></h1>

        <div class="text-right">
            <p>
                Logado como: <span id="usuario-logado"><%=usuarioLogado %><span>
            </p>
        </div>

        <a href="/logout">Logout</a>
    </body>
</html>